* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --main-background: #8b5cf6;
    --text-color: #f3f4f6;
    --nav-background: #a78bfa;
}

body {
    background: var(--main-background);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

nav {
    background: var(--nav-background);
    width: fit-content;
    padding: 16px;
    border-radius: 10px;
}

ul, li {
    list-style: none;
}